.city-list {
  height: 100%;
  padding-top: 45px;

  &:first-child {
    margin-top: -45px;
  }

  .label {
    height: 25px;
    padding: 5px 0 5px 10px;
    color: #999;
    font-size: 14px;
  }

  .city-item {
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  .city-navigation-list {
    position: fixed;
    top: 60px;
    right: 10px;

    li {
      position: relative;
      width: 30px;
      height: 28px;
      text-align: center;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }

      .active-city {
        color: #fff;
        background-color: #1677ff;
      }
    }
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }


}