html,
body {
  height: 100%;
  font-family: 'Microsfot YaHei';
  color: #333;
  background-color: #f6f6f6;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,ul,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-bottom: 50px;
}

.bottom {
  flex: 0;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #fff;
}